
.spin-animation {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-5px) rotate(10deg);
  }
  50% {
    transform: translateY(5px)rotate(0deg);
  }
  75% {
    transform: translateY(-5px) rotate(-10deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

p{
  color:black;
}

.card-body {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 1rem;
}
.text {


  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .text {
    font-size: 2rem;
    font-style: italic;

  }
}
